@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~@flaticon/flaticon-uicons/css/all/all";

@font-face {
  font-family: rafah;
  src: url("/assets/fonts/rafah.ttf");
  font-display: swap;
}

@font-face {
  font-family: zentry;
  src: url("/assets/fonts/zentry.woff2");
  font-display: swap;
}

:root {
  --green: #72fa93;
  --font: rafah;
  --bg: url(/assets/images/grid.svg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.all {
  min-height: 100svh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 20px;
  overflow-x: clip;
  align-items: start;
}

.main {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 1px #f6d154;
  background-color: black;
  border-radius: 0px 0 0px 24px;
  z-index: 5;
  position: sticky;
  top: 0;
  pointer-events: none;

  .background {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(#333333, rgba(0, 0, 0, 0.133)),
      linear-gradient(transparent, #33333358), var(--bg) no-repeat;
    background-size: cover;
    z-index: -1;
    border-radius: inherit;
  }

  .text-header {
    font-size: 1.5rem;
    font-family: var(--font);
    color: white;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

    >img {
      max-width: 50px;
    }

    >span {
      color: var(--green);
      font-style: italic;
      text-shadow: 0px 0px 20px #000000;
    }
  }
}

.content {
  margin: 20px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  overflow: hidden;
  gap: 2px;
  border-radius: 20px;

  .challenge {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .card {
      >* {
        transition: all 0.5s;
        opacity: 0;
        transform: scale(0.5) translateX(-100%);
        font-size: 1rem;
      }

      >span {
        position: absolute;
        top: 10px;
        left: 20px;
        font-family: var(--font);
        font-size: 1.3rem;
        z-index: 2;
        color: white;
        font-weight: bold;
      }

      >.name {
        position: absolute;
        left: 20px;
        bottom: 50px;
        font-family: var(--font);
        font-size: 1.3rem;
        z-index: 2;
        color: white;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 55%;
      }

      >.date {
        position: absolute;
        left: 20px;
        bottom: 20px;
        font-family: var(--font);
        z-index: 2;
        color: var(--green);
      }

      >.days {
        position: absolute;
        right: 20px;
        bottom: 20px;
        font-family: var(--font);
        z-index: 2;
        color: var(--green);
        display: flex;
        gap: 10px;
        max-width: 30%;
        flex-wrap: wrap;
        justify-content: flex-end;

        >span:nth-child(2) {
          color: white;
        }
      }

      >.highlight {
        position: absolute;
        top: 0;
        background-color: rgba(0, 0, 0, 0.6);
        height: 100%;
        width: 100%;
        z-index: 1;
      }

      >img {
        opacity: 1;
        transform: scale(1) translateX(0);
        object-fit: cover;
        aspect-ratio: 3 / 2;
      }
    }

    >.info {
      position: absolute;
      top: 10px;
      right: 20px;
      font-family: var(--font);
      font-size: 1.3rem;
      z-index: 2;
      opacity: 1;
      transform: scale(1) translateX(0);
      transition: all 0.5s;
      cursor: pointer;
      background-color: #333333;
      color: var(--green);
      padding: 0 20px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      >i {
        margin-top: 3px;
        color: white;
      }

      &:hover {
        transform: scale(1.1) translateX(0);
      }
    }
  }
}

.content {
  .challenge {
    &:hover {
      .card {
        >* {
          opacity: 1;
          transform: scale(1) translateX(0);
        }

        >img {
          transform: scale(1.5);
        }
      }
    }
  }
}

.back {
  position: fixed;
  top: -10px;
  left: -10px;
  height: 40px;
  width: 40px;
  /* background: var(--bg) center center / cover; */
  opacity: 0.3;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 100;
  background-color: #F6D050;

  >i {
    margin: 0px -4px 0 0px;
    font-size: 1.2rem;
    rotate: 180deg;
  }

  &:hover {
    opacity: 1;
    height: 70px;
    width: 70px;
    filter: drop-shadow(3px 2px 1px black);

    >i {
      color: white;
      filter: drop-shadow(0 0 1px black);
      margin: -8px -4px -5px 0px;
      font-size: 2rem;
    }
  }

  @media screen and (max-width: 768px) {
    &:hover {
      opacity: 0.3;
      height: 40px;
      width: 40px;
      filter: initial;

      >i {
        color: initial;
        filter: initial;
        margin: 0px -4px 0 0px;
        font-size: 1.2rem;
      }
    }

    &:active {
      opacity: 1;
      height: 70px;
      width: 70px;
      filter: drop-shadow(3px 2px 1px black);

      >i {
        color: white;
        filter: drop-shadow(0 0 1px black);
        margin: -8px -4px -5px 0px;
        font-size: 2rem;
      }
    }
  }
}

.footer {
  background: linear-gradient(to top,
      rgb(37, 37, 37),
      rgba(37, 37, 37, 0.597),
      transparent),
    linear-gradient(to top, rgb(37, 37, 37), rgba(37, 37, 37, 0.597), transparent), var(--bg) center center / cover;

  padding: 10px 20px;
  display: grid;
  place-items: center;
  font-family: var(--font);
  font-size: 1.5rem;
  gap: 15px;
  position: relative;

  .social {
    display: flex;
    gap: 20px;

    .icon {
      font-size: 1.5rem;
      color: rgb(41, 41, 39);
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        color: rgb(133, 97, 7);
        transform: scale(1.5);
      }
    }
  }

  >p {
    font-size: 1rem;
    color: white;
  }
}

.modal {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: all 0.3s;
  display: grid;
  place-items: center;
  font-family: var(--font);
  /* background-color: #1d1f1eab; */

  .highlight {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #1d1f1eab;
  }

  >.modalCard {
    position: relative;
    padding: 20px;
    overflow: auto;
    height: 70%;
    border-radius: 16px;
    display: grid;
    place-items: baseline;
    gap: 10px;
    color: var(--green);
    margin: 20px;
    background: linear-gradient(rgba(27, 26, 26, 0.8), rgba(27, 26, 26, 0.9)),
      var(--bg) no-repeat center center / cover;

    .header {
      margin-top: 10px;
      font-size: 1.3rem;
    }

    .status {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 10px;

      .proccess {
        display: flex;
        justify-content: end;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;

        >span {
          color: white;
        }

        >span:nth-child(2) {
          color: var(--green);
        }
      }

      .skills {
        display: flex;
        gap: 10px;
        justify-content: end;
        flex-wrap: wrap;

        >span {
          color: white;
        }

        >span:nth-child(1) {
          color: rgb(255, 149, 0);
        }

        >span:nth-child(2) {
          color: rgb(98, 203, 255);
        }

        >span:nth-child(3) {
          color: #fceb66;
        }
      }
    }

    .image {
      width: 300px;
      max-width: 90%;
      cursor: pointer;
      transition: box-shadow 0.3s;
      justify-self: center;
      margin-bottom: 10px;

      img {
        max-width: 100%;
        border-radius: 8px;
        box-shadow: -5px 5px 1px var(--green);
        transition: box-shadow 0.3s;
      }

      &:hover {
        box-shadow: -5px 5px 200px var(--green);
      }
    }

    >.close {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 1rem;
      cursor: pointer;
      background: black;
      color: var(--green);
      border-radius: 0 0 0 10px;
      font-family: var(--font);
      padding: 5px 10px;
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, transparent, var(--green), transparent);
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .content {
    .challenge {
      &:hover {
        .card {
          >* {
            opacity: 0;
            transform: initial;
          }

          >img {
            opacity: 1;
            transform: initial;
          }
        }

        >.info {
          transform: initial;
        }
      }
    }
  }

  .footer {
    .social {
      .icon {
        &:hover {
          color: rgb(41, 41, 39);
          transform: none;
        }
      }
    }
  }

  .modal {
    .modalCard {
      .image {
        width: 300px;
        cursor: pointer;
        transition: box-shadow 0.3s;

        img {
          max-width: 100%;
          border-radius: 8px;
          box-shadow: -5px 5px 1px var(--green);
          transition: box-shadow 0.3s;
        }

        &:hover {
          box-shadow: initial;
        }

        &:active {
          box-shadow: -5px 5px 200px var(--green);
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .main {
    .text-header {
      font-size: 1.3rem;
    }
  }

  .content {
    .challenge {
      >.info {
        font-size: 1rem;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .main {
    .text-header {
      font-size: 1rem;
    }
  }
}